:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --red-incease: #f3606f;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #353535;
  --primary: #79efb4;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #353535;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --bg-dark: #121212;
}

* {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Kanit', sans-serif;
  /* color: var(--white); */
}

html {
  background-color: var(--bg-dark);
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  background: #121212;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
  color: #8c8c8c;
  letter-spacing: 3px;
  /* width: 98vw; */
  /* height: 90vh; */
  background-image: url('https://img.freepik.com/premium-vector/space-art-banner-with-galaxy-abstract-space-background-web-print-social-media-design_391155-329.jpg?w=2000');
  color: #8c8c8c;
}
.App {
  text-align: center;
  background-color: var(--bg-dark);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--danger);
}
/* 
---------------------
 - Optional -
---------------------
*/
.under-line {
  border-bottom: 1px solid var(--danger);
  margin: 20px 10% 20px 10%;
}

.text-white {
  color: var(--white);
}

.text-danger {
  color: var(--red);
}

/* 
---------------------
 - Cover -
---------------------
*/
.cover {
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 98vw;
  height: 100vh;
}

.cover-intro {
  color: var(--white);
}

/*
* nav 
*/

.nav {
  display: flex;
  margin: 30px 50px;
}

.nav-name {
  padding: 15px;
  text-transform: uppercase;
  color: var(--danger);
  letter-spacing: 3px;
  font-size: 1.2rem;
}

.nav-name:hover {
  cursor: pointer;
  color: var(--red-incease);
  transition: 0.2s;
}

.title-bg {
  display: absolute;
  /* color: #626262; */
  color: #9090901f;
  text-transform: uppercase;
  width: 60%;
  margin: 0 auto;
  height: 100px;
  font-size: 2rem;
  font-weight: bold;
}
.description {
  font-size: 1rem;
}

.content {
  margin-top: px;
}
